html {
    color-scheme: dark;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
  }

  header {
    background-color: #5D1A98;
    width: 100vw;
  }

.container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
    }

ul {
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
}

h2 {
    color: #00FFFF;
    text-align: center;
    font-family: "Unbounded";
    font-size: 40px;
    margin-top: 20px;
}

p2 {
  margin-top: 80px;
  display: flex;
  margin-left: 20px;
  font-size: 40px;
  color: #F200FF;
  font-family: 'Montserrat';
  font-weight: 800;
}

.card {
   margin: 20px;
    margin-top: 0px;
    width: 300px;
    display: flex;
    gap: 10px;
    max-width: 600px;
}


.card img {
  height: 300px;
}

.Titulo {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 35px;
  color: #F200FF;
}

h4 {
  font-size: 17px;
  padding: 3px;
}

.botoes {
  margin-top: 30px;
  font-size: 20px;
  gap: 10px;
  display:grid;
}
